/*director-index*/
.director-block{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 40px;
  @media(min-width: 320px) and (max-width: 1024px){
    margin-top:  0px;
    padding-left: 10px;
  }
  &__bg{
    background-image: url("../img/bg-img/director-blog-bg.svg");
    width: 100%;
    margin-top: 60px;
  }
  &__img{
    margin-top: -25px;
    width: 100%;
    margin-bottom: 30px;
    @media(min-width: 320px) and (max-width: 768px){
      margin-bottom: 0px;
      width: 300px;
    }

  }
  &__text{
    width: 450px;
    font-size: 16px;
    line-height: 130%;
    color: $black;
    margin-top: 20px;
    padding-bottom: 25px;
    @media(min-width: 320px) and (max-width: 1024px){
      width: 100%;
    }

  }
}
.director-link{
  @media(min-width: 320px) and(max-width: 768px){
    display:none;
  }
}
/*director-blog*/
.blog-form{
  display: flex;
  flex-direction: row;
  align-items: center;

  &__text{
    background: #F8F8F8;
    border: 1px dashed #CBCBCB;
    border-radius: 10px;
    width: 48%;
    height: 40px;
    padding: 10px 5px 10px 15px;
    font-size: 16px;
    line-height: 130%;
    color: #505050;
    @media (min-width: 320px) and (max-width: 768px){
      width: 100%;
    }
  }
  &__textarea{
    background: #F8F8F8;
    border: 1px dashed #CBCBCB;
    border-radius: 10px;
    width: 100%;
    height: 180px;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
    line-height: 130%;
    color: #505050;
  }
  &__submit{
    border-radius: 10px;
    background: linear-gradient(270deg, #F02C59 0%, #F35075 100%);
    padding: 10px 60px;
    color: $white;
    font-size: 16px;
  }

}
.form-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  justify-content: space-between;
}
.form-heading{
  font-size: 16px;
  line-height: 130%;
  color: #505050;
  margin-bottom: 10px;
  margin-top: -15px;
}
.blog-img{
    margin-top: -60px;
    width: 100%;
  @media (min-width: 320px) and (max-width: 768px){
    margin-top: 30px;
  }
}