/*header-slider*/
.header-slider{
  position: relative;

  &__img{
    position: absolute;
    z-index: -1;
  }
  &__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__heading{
    padding-top: 100px;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #2E8FD6;
    margin-bottom: 20px;
  }
  &__text{
    font-size: 24px;
    line-height: 130%;
    color: #0D1323;
    width: 600px;
    margin-bottom: 20px;
  }
}

.slider-link {
  display: flex;
  align-items: center;
  &__text{
    font-size: 18px;
    line-height: 130%;
    color: #2E8FD6;
    margin-right: 8px;
    &:hover{
      text-decoration-line: underline;
    }
  }
  &__icon{
    width: 18px;
    height: 18px;
    fill: none;
  }
}
.dropdown-btn{
  padding: 0;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  color: $blue;
  &:hover{
    color: #F35075;
  }
  &:focus{
    outline:none!important;
    box-shadow: none!important;
  }
  &::after{
    border-right: 0.25em solid transparent;
    border-left: 0.25em solid transparent;
    margin-left: 5px;
  }
}
.dropdown-menu-header{
  background: #FFFFFF;
  box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.1);
  padding: 0;
  transform: translate(0px, 30px) !important;
}
.dropdown-header-item{
  padding: 8px 15px;
  font-size: 14px;
  line-height: 130%;
  color: #2E8FD6;
  &:hover{
    background: #DEEFFF;
    color: #2E8FD6;
  }
}
/*header-slider*/
hr.swiper-hr{
  background: #DEEFFF;
  height: 8px!important;
}
.header-slider{
  display: flex;
  min-width: 0;
  &__wrapper{
 display: flex;
  }

}
.header-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: start;

  &__heading{
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    color: #2E8FD6;
    margin-bottom: 20px;
    padding-top: 100px;
    @media (min-width: 1024px) and (max-width: 1440px){
     font-size: 2.4rem;
    }

  }
  &__text{
    width: 600px;
    font-size: 24px;
    line-height: 130%;
    color: #0D1323;
    text-align: start;
    margin-bottom: 20px;
  }
  &__icon{
    width: 18px;
    height: 18px;
    fill: transparent;
  }
  &__link{
    font-size: 18px;
    color: #2E8FD6;
    &:hover {
      color: #2E8FD6;
    }
  }
  &__span{
    margin-right: 8px;
    &:hover{
      color: #2E8FD6;

    }
  }
  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
  }
  &__number{
    position: absolute;
    width: 200px !important;
    height: 200px !important;
    bottom: 95px;
    left: 50%;
  }
}
.header-slider .swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  line-height: 20px;
  font-size: 14px;
  background-color: #2E8FD6;
}
.header-slide__link:hover .header-slide__span{
  text-decoration: underline;

}

/*benefits-content*/
.benefits-block{
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  border: 2px dashed #2E8FD6;
  border-radius: 10px;
  background-color: $white;
  &__text{
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: $black;
  }
  &__img{
    witdh: auto;
    @media(min-width:320px) and (max-width: 768px){
      width: 320px;
    }

  }
}
.margin--minus{
  margin-top: -70px;
  @media(min-width:320px) and (max-width: 768px){
    margin-top: 0px;
  }
}


/*reviews-content*/
.reviews-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $white;
  border-radius: 20px;
  padding: 0 25px;
  box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.1);
  @media(min-width:320px) and (max-width: 768px){
    box-shadow:0px 4px 8px 0px rgb(0 0 0 / 10%);

  }
}
.reviews-container{
  padding-bottom: 40px;
}
.reviews-flex{
  min-width: 0;
  position: relative;
  padding: 0 70px;
  @media(min-width: 320px) and (max-width: 768px){
    padding: 0;
  }
}
.reviews-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
.reviews-slider .swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  line-height: 20px;
  font-size: 14px;
  background-color: #2E8FD6;
}
.reviews-slide{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  &__bg{
    background-image: url("../img/bg-img/reviews-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    padding: 60px 0;
    @media(min-width: 320px) and (max-width: 1024px){
      background-image: none;
      padding: 0;
    }
  }
  &__icon{
    width: 60px!important;
    height: 60px!important;
    position: absolute;
    z-index: 2;
    top: -27px;
  }
  &__text{
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    color: $black;
    margin-bottom: 35px;
    margin-top: 50px;
  }
  &__name{
    font-weight: bold;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: $black;
    margin-bottom: 5px;
  }
  &__date{
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #505050;
    margin-bottom: 30px;
  }
}
.reviews-button-prev{
  width: 30px;
  height: 30px;
  @media(min-width: 320px) and (max-width: 768px){
    display: none;
  }

}
.reviews-button-next{
  width: 30px;
  height: 30px;
  @media(min-width: 320px) and (max-width: 768px){
    display: none;
  }

}
.reviews-flex .reviews-button-prev::after{
  content: '';
  background: url('../img/footer-slider-arrow.svg') no-repeat;
  width: 30px;
  height: 30px;
}
.reviews-flex .reviews-button-next::after{
  content: '';
  background: url('../img/footer-slider-arrow.svg') no-repeat;
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
}

/*specialists-content*/
.specialists-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-left: 15px;
  margin-right: 15px;
  &__img{
    margin-bottom: 20px;
    width: 100%;
    object-fit: cover;
    @media(min-width: 425px) and (max-width: 992px){
      width: 85%;
    }

  }
  &__name{
    font-weight: bold;
    font-size: 18px;
    color: $black;
    width: 200px;
    text-align: center;
    margin-bottom: 10px;
    line-height: 130%;

  }
  &__position{
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    color: #505050;
    width: 230px;
    text-align: center;
  }
  &__bg{
    background-image: url("../img/bg-img/specialists-bg.svg");
    width: 100%;
    margin-top: 60px;
  }
}
/*footer-slider*/
.footer-flex{
  min-width: 0;
  position: relative;
  padding: 0 70px;
  @media(min-width: 320px) and (max-width: 768px){
    padding: 0 45px;
  }
}
.footer-button-prev{
  width: 30px;
  height: 30px;
}
.footer-button-next{
  width: 30px;
  height: 30px;
}
.footer-flex .footer-button-prev::after{
  content: '';
  background: url('../img/footer-slider-arrow.svg') no-repeat;
  width: 30px;
  height: 30px;
}
.footer-flex .footer-button-next::after{
  content: '';
  background: url('../img/footer-slider-arrow.svg') no-repeat;
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
}
.footer-flex .swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  line-height: 20px;
  font-size: 14px;
  background-color: #2E8FD6;
}
.footer-container{
  margin-bottom: 100px;
  margin-top: 30px;
  display: flex;
  padding-bottom: 40px;
  @media(min-width: 320px) and (max-width: 768px){
    justify-content: center;
  }
  &__wrapper{
    display: flex;
    flex-direction: row;;


  }
  &__slide{
    width: 200px;
  }
}
.footer-slide-link{
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 2px dashed #1845B7;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: stretch;
  height: 245px;
  @media(min-width: 320px) and (max-width: 768px){
    justify-content: center;
  }
  &__img{
    width: 138px;
    height: 138px;
    margin: 0 auto;

  }
  &__text{
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
    width: 158px;
    margin: 0 auto;
  }
}