/*contacts*/
.contacts-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contacts-block{
  margin-bottom: 40px;
  &__subtitle{
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    color: $black;
    margin-bottom: 5px;
  }
  &__text{
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: $black;
  }
}
.contacts-container{
    display: grid;
    grid-template-rows: repeat(4,50px);
    grid-gap: 5px;
}
.contacts-wrapper{
  margin-bottom: 10px;
  &__link{
    font-weight: normal;
    font-size: 16px;
    color: $black;
    padding-bottom: 5px;
    &:hover{
      color: #2E8FD6;
      text-decoration: underline;
    }
    &:active{
      color: #F02D59;
      text-decoration: underline;
    }
  }
}
.routes-block{
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  &__text{
    font-size: 16px;
    color: $black;
    padding-bottom: 5px;
  }
}