/*footer*/
.footer {
  flex-shrink: 0;
}
.footer-block{
  &--bg{
    background-color: #1C77B9;
    padding: 40px 0;
    @media(min-width: 320px) and (max-width: 992px){
      padding: 30px 0;
      padding-top: 10px;
    }
  }
  &__text{
    font-size: 16px;
    line-height: 130%;
    color: $white;
    font-weight: normal;

  }
  &__heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 15px;
    @media(min-width: 320px) and (max-width: 992px){
      margin-top: 20px;
    }
  }
  &__subtitle{
    font-weight: bold;
    font-size: 16px;
    color: $white;
  }
  &__link{
    font-size: 16px;
    color: $white;
    margin-bottom: 15px;
    &:hover{
      color: $white;
      text-decoration-line: underline;
    }
  }
  .info-block__link--footer{
    margin-bottom: 10px;
  }

}
.footer-days{
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 5px;
  &__day{
    font-size: 16px;
    color: $white;
    padding-right: 10px;

  }
  &__time{
    font-size: 16px;
    color: $white;
  }
}
