/*gov-procurement*/
.gov-link{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background: #DEEFFF;
  border: 2px dashed #2E8FD6;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  &__icon{
    fill: #2E8FD6;
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  &__text{
    font-weight: bold;
    font-size: 16px;
    line-height: 130%;
    color: #2E8FD6;
  }
}
.gov-link:hover{
  border: 2px dashed #F35075;
}
.gov-link:hover, .gov-link:hover .gov-link__icon,.gov-link:hover .gov-link__text{
  background: #F9D6DE;
  color: #F35075;
  fill: #F35075;
}