/*header*/
.header{
  flex: 1 0 auto;
}
.info-block{
    background-color: $blue;
    padding: 12px 0;
    &__text{
        font-size: 14px;
        line-height: 16px;
        color: $white;
        margin-right: 5px;
    }
    &__link{
        font-size: 14px;
        line-height: 16px;
        color: $white;
        text-decoration: none;
        &:hover{
        font-weight: 600;
        color: $white;
        }
    }

}
.info-button{
    outline: none;
    text-decoration: none;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;

    &__text{
        font-size: 14px;
        line-height: 16px;
        color: $white;
        &:hover{
            border-bottom: 1px solid $white;
        }
    }
    &__icon{
        width: 18px;
        height: 18px;
        fill: $white;
        margin-right: 10px;
    }
}
.header-menu{
    display: grid;
    grid-template-columns: 300px 1fr 200px;
    grid-template-rows: 80px;
    align-items: center;
    &::after{
        content:"";
        width: 3px;
        height: 100%;
        color: red;
    }
}
.header-logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    &__img{

    }
    &__text{
        display: flex;
        align-items: center;
        margin-left: 15px;
        flex-basis: 200px;
        font-size: 16px;
        line-height: 19px;
        color: $blue;
    }
}
/*navbar-menu*/
.navbar-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  position: relative;
  width: 100%;
  &__icon{
    width: 8px;
    height: 6px;
    fill: #2E8FD6;
  }
  &__item{

  }
  &__link{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    color: $blue;
  }
  &__text{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #2E8FD6;
    margin-right: 5px;
  }
}
.navbar-menu__link:hover .navbar-menu__icon:hover, .navbar-menu__link:hover .navbar-menu__icon-path, .navbar-menu__link:hover .navbar-menu__text{
  color: #F35075;
  fill: #F35075;
}

.navbar-submenu{
  display: none;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 10px 15px;
  top: 25px;
  width: auto;
  &__item{
    padding: 10px;
    padding-left: 0px;

  }
  &__link{
    font-size: 14px;
    line-height: 130%;
    color: $blue;
  }
}
.header-lang{
    display: flex;
    justify-content: flex-end;
    &__button{
        outline: none;
        background-color: transparent;
        font-size: 14px;
        line-height: 16px;
        color: $blue;
        padding: 0 15px;
        &:active{
            background-color:#DEEFFF;
            height: 80px;
        }
    }
}
.header-hr{
    width: 100%;
    height: 3px !important;
    color: #DEEFFF;
    opacity: 1;
}
/*mobile-menu*/
.mobile-menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  position: relative;
  background: #F5F5F5;
  border-bottom: 2px solid #DEEFFF;
  &__link{
  display: flex;
  flex-direction: row;
  align-items: center;
  }
  &__logo{
    width: 50px;
    height: 50px;
    margin-right: 15px;

  }
  &__text{
    font-size: 14px;
    line-height: 16px;
    color: #2E8FD6;
  }
}
.mobile-burger{
  cursor: pointer;
  &__span{
    width: 25px;
    height: 3px;
    display: block;
    margin-bottom: 6px;
    background-color: #2E8FD6;
  }
}
//todo//
//.move .mobile-burger__span--bar-1{
//  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
//  transform: rotate(-45deg) translate(-9px, 6px) ;
//  transition-duration: 0.3s;
//}
//.move .mobile-burger__span--bar-2{
//  opacity: 0;
//  transition-duration: 0.3s;
//}
//.move .mobile-burger__span--bar-3{
//  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
//  transform: rotate(45deg) translate(-7px, -3px) ;
//  transition-duration: 0.3s;
//}

.mobile-navbar{
  width: 100%;
  background: #F5F5F5;
  box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.15);
  position: absolute;
  padding: 20px 25px 0 25px;
  top: 0;
  left: 0;
  transform: translateX(-1024px);
  transition: 1s ease;
  &__heading{
    font-weight: bold;
    font-size: 18px;
    color: #2E8FD6;
  }
  &__exit{
    font-weight: bold;
    font-size: 25px;
    color: #2E8FD6;
  }
}
.mobile-navbar--active{
  display: flex;
  flex-direction: column;
  transform: translateX(0px);
  transition: 1s ease;


}
.mobile-list{
  &__item{
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0px;
    }
  }
  &__link{
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #2E8FD6;
  }
}
.mobile-lang{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__button{
    background-color: transparent;
    font-size: 14px;
    color: #2E8FD6;
    margin-bottom: 20px;
    &:last-child{
      margin-bottom: 0px;
    }

  }
}
.mobile-blind-button{
    background-color: transparent;
    flex-direction: row;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
  &__icon{
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }
  &__icon-path{
    fill: #2E8FD6;
  }
  &__text{
    font-weight: normal;
    font-size: 14px;
    text-decoration-line: underline;
    color: #2E8FD6;
  }
}
.mobile-hr{
  width: 100vw;
  height: 3px!important;
  margin: 15px -25px!important;
  background: #ABD5FD;
  &__heading{
    width: 100vw;
    height: 3px!important;
    background: #ABD5FD;
    margin: 0!important;
  }
}
.dropdown-mobile{
  position: relative!important;
  background-color: transparent!important;
  border: none!important;
  box-shadow: none!important;
  transform: translate(0, 10px) !important;
}
