/*news-block*/
.news-block{
  display: flex;
  box-shadow: (4px 4px 10px 0px rgba(0, 0, 0, 0.1));
  margin-bottom: 30px;
  border-radius: 20px;
  background-color: $white;
  width: 100%;
  @media(min-width: 320px) and (max-width: 768px){
    display: flex;
    flex-direction: column;
  }
  &__img{
    min-width: 380px;
    height: 100%;
    max-height: 260px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    @media(min-width: 320px) and (max-width: 768px){
      border-radius: 10px 10px 0 0;
      height: 240px;
      min-width: auto;
    }
  }

}
.news-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 30px 20px 15px;
  @media(min-width: 320px) and (max-width: 768px){
    padding: 20px;
  }
  &__text{
    margin-top: 10px;
    margin-bottom: 60px;
    font-size: 16px;
    line-height: 130%;
    color: $black;
    @media(min-width: 320px) and (max-width: 768px){
      margin-bottom: 20px;
    }
  }
  &__author{
    margin-top: 10px;
  }
  &__link{
    font-size: 16px;
    line-height: 130%;
  }
  &__heading{
    @media(min-width: 320px) and (max-width: 768px){
      text-align: left!important;
    }
  }
}
.news-buttons{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  @media(min-width: 320px) and (max-width: 768px){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__date{
    font-size: 14px;
    line-height: 130%;
    color: #505050;
    @media(min-width: 320px) and (max-width: 768px){
      margin-bottom: 15px;
    }

  }
}