/*prices-page*/
.prices-buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
  @media(min-width: 320px) and(max-width: 1024px){
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  &__link{
    font-weight: bold;
    width: auto;
    font-size: 16px;
    line-height: 130%;
    background: #DEEFFF;
    border: 2px dashed #2E8FD6;
    padding: 10px 30px;
    border-radius: 10px;
    &:hover{
      background: #F9D6DE;
      border: 2px dashed #F35075;
      color: #F35075;
    }
    @media(min-width: 320px) and(max-width: 1024px){
      width: 100%;
      text-align: center;
    }

  }
}
.prices-category{
  &__heading{
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #2E8FD6;
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 30px;
    @media(min-width: 320px) and(max-width: 1024px){
      margin-left: 10px;
    }

  }
}
/*prices-content*/
.prices-block{
  display: flex;
  flex-direction: column;
  &__subtitle{
    font-weight: normal;
    font-size: 16px;
    color: $black;
    margin-top: 10px;
    margin-bottom: 35px;
  }
}
.prices-form{
  border: 1px solid #B6DCFF;
  border-radius: 10px 10px 0px 0px;
  padding: 15px 30px;
  @media(min-width: 320px) and (max-width: 1024px){
    padding: 15px 10px;
  }
  &::placeholder{
    font-size: 16px;
    color: #505050;
  }
  &__search{
    padding-left: 40px;
    position: relative;
    width: 100%;
    @media(min-width: 320px) and (max-width: 1024px){
      padding-left: 30px;
    }
  }
  &__icon {
    position: relative;
    &::after {
      content: '';
      width: 24px;
      height: 24px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      margin: auto 0;
      background:url("../img/search-icon.svg");

    }
  }
}
.prices-wrapper{
  box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: $white;
  height: 615px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  scrollbar-color: #C4C4C4 #EDEAEA;
  scrollbar-width: auto;
  &::-webkit-scrollbar {
    width: 11px;
    height: 3px;
    background: #EDEAEA;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #C4C4C4;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3;
  }

  //::after{
  //  content: url("../img/bg-img/prices-bg.svg");
  //  position: absolute;
  //  width: 100%;
  //  height: 45px;
  //  bottom: 0;
  //!todo
  //}
}
.prices-table{
  display: grid;
  grid-template-columns: 1fr 180px 200px;
  grid-template-rows: 45px;
  border-bottom: 1px solid #B6DCFF;
  align-items: center;
  padding: 5px 30px;
  @media(min-width: 320px) and(max-width: 1024px){
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    align-items: start;
    padding: 5px 10px;
  }
  &--heading{
    background: #2E8FD6;
    padding: 5px 30px;
    padding-right: 48px;
    font-weight: normal;
    font-size: 16px;
    color: $white;
    @media(min-width: 320px) and (max-width: 1024px){
      display: none;
    }
  }
  &__title{
    font-weight: normal;
    font-size: 16px;
    color: $black;
    line-height: 140%;
    @media(min-width: 320px) and (max-width: 1024px){
      margin-bottom: 10px;

    }

  }
  &__price{
    font-size: 16px;
    font-weight: normal;
    color: #2E8FD6;
    text-align: center;
    @media(min-width: 320px) and (max-width: 1024px){
      text-align: start;
      grid-column: 1;
      grid-row: 2;
      margin-bottom: 10px;
    }
  }
  &__note{
    font-weight: normal;
    font-size: 16px;
    color: $black;
    text-align: center;
    @media(min-width: 320px) and (max-width: 1024px){
      text-align: start;
      grid-column: 1;
      grid-row: 3;
      margin-bottom: 10px;
    }
  }

}