* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}
p {
    margin-bottom: 0;
}
.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
button {
    outline: none !important;
}
dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0 !important;
    padding-left: 0;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}
hr{
    margin: 0 !important;
    padding: 0 !important;
}
html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
}
address{
    margin-top: 0;
    margin-bottom: 0;
}
