/*services-page*/
.services-block{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #FFFFFF;
  box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 20px 20px;
  &__img{
    width: 100%;
    border-radius: 10px 10px 0 0;
    @media (min-width: 320px) and (max-width: 768px){
      height: 160px;
      object-fit: cover;
    }
  }
  &__text{
    font-size: 16px;
    line-height: 130%;
    color: $black;

  }
  &__bg{
    background-image: url("../img/bg-img/services-bg.svg");
    width: 100%;
    margin-top: 40px;
    @media (min-width: 320px) and (max-width: 1024px){
      background-image: none;
      margin-top: 0px;

    }
  }
}
.services-wrapper{
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}
/*services-category*/
.services-category{
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 20px 20px;
  margin-bottom: 30px;
  &__container{
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
  }
  &__img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 160px;
    object-fit: cover;
  }
  &__heading{
    font-weight: bold;
    line-height: 21px;
    text-transform: uppercase;
    color: #2E8FD6;
    margin-bottom: 5px;

  }
  &__text{
    font-size: 16px;
    line-height: 130%;
    color: #000000;
    margin-bottom: 10px;
  }
}
.category-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  &__text{
    font-size: 16px;
    line-height: 130%;
    text-decoration-line: underline;
    color: #2E8FD6;
  }
}
.category-icon{
  width: 17px;
  height: 17px;
  fill: transparent;
  &__path{
    fill: transparent;
    stroke: #2E8FD6;
  }
}
.category-link:hover .category-link__text,.category-link:hover .category-icon__path{
  fill: transparent;
  stroke: #F35075;
  color: #F35075;
}