$white : #FFFFFF;
$blue: #2E8FD6;
$black: #000000;
@mixin red-color(){
    background: linear-gradient(270deg, #F02C59 0%, #F35075 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -webkit-gradient(270deg, #F02C59 0%, #F35075 100%);
    background: -moz-gradient(270deg, #F02C59 0%, #F35075 100%);
    background: -ms-gradient(270deg, #F02C59 0%, #F35075 100%);    
}