@import "reset";
@import "variables";
@import "header";
@import "footer";
@import "common";
@import "blog";
@import "contacts";
@import "specialists";
@import "gallery";
@import "gov.procurement";
@import "news";
@import "prices";
@import "services";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
.open{
    display: flex;
}
.mb-40{
    margin-bottom: 40px;
}
.mt-40{
    margin-top: 40px;
}
.mt-40-mobile{
    margin-top: 40px;
    @media(min-width: 320px) and (max-width: 1024px){
     margin-top: 20px;
    }
}
.mt-30{
    margin-top: 30px;
}
.pb-40{
    padding-bottom: 40px;
}
.pb-40-mobile{
    padding-bottom: 40px;
    @media(min-width: 320px) and (max-width: 768px){
        padding-bottom: 20px;
    }
}
.hide{
    display: none;
}
.standard-link{
    background: linear-gradient(270deg, #F02C59 0%, #F35075 100%);
    padding: 10px 60px;
    border-radius: 10px;
    color: $white;
    &:hover{
        background: linear-gradient(270deg, #F02C59 0%, #F35075 100%);
        color: $white;

    }
    &:active{
        background: #F02D59;
        color: $white;

    }
    &__input{
        @media(min-width: 320px) and (max-width: 768px){
            width: 100%;
            margin-top: 10px;
        }
    }
}
.title-h1-page{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2E8FD6;
    margin-top: 30px;
    margin-bottom: 30px;
}
.title-h1{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2E8FD6;
    margin-top: 30px;
    margin-bottom: 40px;
    @media(min-width: 320px) and (max-width: 1024px){

    }

}
.title-h2{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #2E8FD6;
    margin-top: 40px;
    @media(min-width: 320px) and (max-width: 768px){
        font-size: 24px;
        line-height: 29px;
    }
}
.title-h3{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #2E8FD6;

}
.breadcrumbs{
    margin-top: 20px;
    font-weight: normal;
    font-size: 16px;
    color: #505050;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;

}
.main{
    flex: 1 0 auto;
    &--margin{
        margin-bottom: 200px;
        @media (min-width: 320px) and (max-width: 768px){
        margin-bottom: 100px;
            
        }
    }
}
.footer{
    flex: 0 0 auto;
}