@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

p {
  margin-bottom: 0;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  outline: none !important;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0 !important;
  padding-left: 0;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

hr {
  margin: 0 !important;
  padding: 0 !important;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
}

address {
  margin-top: 0;
  margin-bottom: 0;
}

/*header*/
.header {
  flex: 1 0 auto;
}

.info-block {
  background-color: #2E8FD6;
  padding: 12px 0;
}
.info-block__text {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  margin-right: 5px;
}
.info-block__link {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-decoration: none;
}
.info-block__link:hover {
  font-weight: 600;
  color: #FFFFFF;
}

.info-button {
  outline: none;
  text-decoration: none;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.info-button__text {
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}
.info-button__text:hover {
  border-bottom: 1px solid #FFFFFF;
}
.info-button__icon {
  width: 18px;
  height: 18px;
  fill: #FFFFFF;
  margin-right: 10px;
}

.header-menu {
  display: grid;
  grid-template-columns: 300px 1fr 200px;
  grid-template-rows: 80px;
  align-items: center;
}
.header-menu::after {
  content: "";
  width: 3px;
  height: 100%;
  color: red;
}

.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-logo__text {
  display: flex;
  align-items: center;
  margin-left: 15px;
  flex-basis: 200px;
  font-size: 16px;
  line-height: 19px;
  color: #2E8FD6;
}

/*navbar-menu*/
.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  position: relative;
  width: 100%;
}
.navbar-menu__icon {
  width: 8px;
  height: 6px;
  fill: #2E8FD6;
}
.navbar-menu__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  color: #2E8FD6;
}
.navbar-menu__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #2E8FD6;
  margin-right: 5px;
}

.navbar-menu__link:hover .navbar-menu__icon:hover, .navbar-menu__link:hover .navbar-menu__icon-path, .navbar-menu__link:hover .navbar-menu__text {
  color: #F35075;
  fill: #F35075;
}

.navbar-submenu {
  display: none;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 10px 15px;
  top: 25px;
  width: auto;
}
.navbar-submenu__item {
  padding: 10px;
  padding-left: 0px;
}
.navbar-submenu__link {
  font-size: 14px;
  line-height: 130%;
  color: #2E8FD6;
}

.header-lang {
  display: flex;
  justify-content: flex-end;
}
.header-lang__button {
  outline: none;
  background-color: transparent;
  font-size: 14px;
  line-height: 16px;
  color: #2E8FD6;
  padding: 0 15px;
}
.header-lang__button:active {
  background-color: #DEEFFF;
  height: 80px;
}

.header-hr {
  width: 100%;
  height: 3px !important;
  color: #DEEFFF;
  opacity: 1;
}

/*mobile-menu*/
.mobile-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  position: relative;
  background: #F5F5F5;
  border-bottom: 2px solid #DEEFFF;
}
.mobile-menu__link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mobile-menu__logo {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.mobile-menu__text {
  font-size: 14px;
  line-height: 16px;
  color: #2E8FD6;
}

.mobile-burger {
  cursor: pointer;
}
.mobile-burger__span {
  width: 25px;
  height: 3px;
  display: block;
  margin-bottom: 6px;
  background-color: #2E8FD6;
}

.mobile-navbar {
  width: 100%;
  background: #F5F5F5;
  box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.15);
  position: absolute;
  padding: 20px 25px 0 25px;
  top: 0;
  left: 0;
  transform: translateX(-1024px);
  transition: 1s ease;
}
.mobile-navbar__heading {
  font-weight: bold;
  font-size: 18px;
  color: #2E8FD6;
}
.mobile-navbar__exit {
  font-weight: bold;
  font-size: 25px;
  color: #2E8FD6;
}

.mobile-navbar--active {
  display: flex;
  flex-direction: column;
  transform: translateX(0px);
  transition: 1s ease;
}

.mobile-list__item {
  margin-bottom: 20px;
}
.mobile-list__item:last-child {
  margin-bottom: 0px;
}
.mobile-list__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #2E8FD6;
}

.mobile-lang {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mobile-lang__button {
  background-color: transparent;
  font-size: 14px;
  color: #2E8FD6;
  margin-bottom: 20px;
}
.mobile-lang__button:last-child {
  margin-bottom: 0px;
}

.mobile-blind-button {
  background-color: transparent;
  flex-direction: row;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.mobile-blind-button__icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.mobile-blind-button__icon-path {
  fill: #2E8FD6;
}
.mobile-blind-button__text {
  font-weight: normal;
  font-size: 14px;
  text-decoration-line: underline;
  color: #2E8FD6;
}

.mobile-hr {
  width: 100vw;
  height: 3px !important;
  margin: 15px -25px !important;
  background: #ABD5FD;
}
.mobile-hr__heading {
  width: 100vw;
  height: 3px !important;
  background: #ABD5FD;
  margin: 0 !important;
}

.dropdown-mobile {
  position: relative !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  transform: translate(0, 10px) !important;
}

/*footer*/
.footer {
  flex-shrink: 0;
}

.footer-block--bg {
  background-color: #1C77B9;
  padding: 40px 0;
}
@media (min-width: 320px) and (max-width: 992px) {
  .footer-block--bg {
    padding: 30px 0;
    padding-top: 10px;
  }
}
.footer-block__text {
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  font-weight: normal;
}
.footer-block__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 15px;
}
@media (min-width: 320px) and (max-width: 992px) {
  .footer-block__heading {
    margin-top: 20px;
  }
}
.footer-block__subtitle {
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
}
.footer-block__link {
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 15px;
}
.footer-block__link:hover {
  color: #FFFFFF;
  text-decoration-line: underline;
}
.footer-block .info-block__link--footer {
  margin-bottom: 10px;
}

.footer-days {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 5px;
}
.footer-days__day {
  font-size: 16px;
  color: #FFFFFF;
  padding-right: 10px;
}
.footer-days__time {
  font-size: 16px;
  color: #FFFFFF;
}

/*header-slider*/
.header-slider {
  position: relative;
}
.header-slider__img {
  position: absolute;
  z-index: -1;
}
.header-slider__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-slider__heading {
  padding-top: 100px;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #2E8FD6;
  margin-bottom: 20px;
}
.header-slider__text {
  font-size: 24px;
  line-height: 130%;
  color: #0D1323;
  width: 600px;
  margin-bottom: 20px;
}

.slider-link {
  display: flex;
  align-items: center;
}
.slider-link__text {
  font-size: 18px;
  line-height: 130%;
  color: #2E8FD6;
  margin-right: 8px;
}
.slider-link__text:hover {
  text-decoration-line: underline;
}
.slider-link__icon {
  width: 18px;
  height: 18px;
  fill: none;
}

.dropdown-btn {
  padding: 0;
  padding-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  color: #2E8FD6;
}
.dropdown-btn:hover {
  color: #F35075;
}
.dropdown-btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
.dropdown-btn::after {
  border-right: 0.25em solid transparent;
  border-left: 0.25em solid transparent;
  margin-left: 5px;
}

.dropdown-menu-header {
  background: #FFFFFF;
  box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.1);
  padding: 0;
  transform: translate(0px, 30px) !important;
}

.dropdown-header-item {
  padding: 8px 15px;
  font-size: 14px;
  line-height: 130%;
  color: #2E8FD6;
}
.dropdown-header-item:hover {
  background: #DEEFFF;
  color: #2E8FD6;
}

/*header-slider*/
hr.swiper-hr {
  background: #DEEFFF;
  height: 8px !important;
}

.header-slider {
  display: flex;
  min-width: 0;
}
.header-slider__wrapper {
  display: flex;
}

.header-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 100%;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-items: start;
}
.header-slide__heading {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  color: #2E8FD6;
  margin-bottom: 20px;
  padding-top: 100px;
}
@media (min-width: 1024px) and (max-width: 1440px) {
  .header-slide__heading {
    font-size: 2.4rem;
  }
}
.header-slide__text {
  width: 600px;
  font-size: 24px;
  line-height: 130%;
  color: #0D1323;
  text-align: start;
  margin-bottom: 20px;
}
.header-slide__icon {
  width: 18px;
  height: 18px;
  fill: transparent;
}
.header-slide__link {
  font-size: 18px;
  color: #2E8FD6;
}
.header-slide__link:hover {
  color: #2E8FD6;
}
.header-slide__span {
  margin-right: 8px;
}
.header-slide__span:hover {
  color: #2E8FD6;
}
.header-slide__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}
.header-slide__number {
  position: absolute;
  width: 200px !important;
  height: 200px !important;
  bottom: 95px;
  left: 50%;
}

.header-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  line-height: 20px;
  font-size: 14px;
  background-color: #2E8FD6;
}

.header-slide__link:hover .header-slide__span {
  text-decoration: underline;
}

/*benefits-content*/
.benefits-block {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  border: 2px dashed #2E8FD6;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.benefits-block__text {
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}
.benefits-block__img {
  witdh: auto;
}
@media (min-width: 320px) and (max-width: 768px) {
  .benefits-block__img {
    width: 320px;
  }
}

.margin--minus {
  margin-top: -70px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .margin--minus {
    margin-top: 0px;
  }
}

/*reviews-content*/
.reviews-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 20px;
  padding: 0 25px;
  box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.1);
}
@media (min-width: 320px) and (max-width: 768px) {
  .reviews-block {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  }
}

.reviews-container {
  padding-bottom: 40px;
}

.reviews-flex {
  min-width: 0;
  position: relative;
  padding: 0 70px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .reviews-flex {
    padding: 0;
  }
}

.reviews-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.reviews-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  line-height: 20px;
  font-size: 14px;
  background-color: #2E8FD6;
}

.reviews-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}
.reviews-slide__bg {
  background-image: url("../img/bg-img/reviews-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  padding: 60px 0;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .reviews-slide__bg {
    background-image: none;
    padding: 0;
  }
}
.reviews-slide__icon {
  width: 60px !important;
  height: 60px !important;
  position: absolute;
  z-index: 2;
  top: -27px;
}
.reviews-slide__text {
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #000000;
  margin-bottom: 35px;
  margin-top: 50px;
}
.reviews-slide__name {
  font-weight: bold;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #000000;
  margin-bottom: 5px;
}
.reviews-slide__date {
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #505050;
  margin-bottom: 30px;
}

.reviews-button-prev {
  width: 30px;
  height: 30px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .reviews-button-prev {
    display: none;
  }
}

.reviews-button-next {
  width: 30px;
  height: 30px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .reviews-button-next {
    display: none;
  }
}

.reviews-flex .reviews-button-prev::after {
  content: "";
  background: url("../img/footer-slider-arrow.svg") no-repeat;
  width: 30px;
  height: 30px;
}

.reviews-flex .reviews-button-next::after {
  content: "";
  background: url("../img/footer-slider-arrow.svg") no-repeat;
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
}

/*specialists-content*/
.specialists-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-left: 15px;
  margin-right: 15px;
}
.specialists-block__img {
  margin-bottom: 20px;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 425px) and (max-width: 992px) {
  .specialists-block__img {
    width: 85%;
  }
}
.specialists-block__name {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  width: 200px;
  text-align: center;
  margin-bottom: 10px;
  line-height: 130%;
}
.specialists-block__position {
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  color: #505050;
  width: 230px;
  text-align: center;
}
.specialists-block__bg {
  background-image: url("../img/bg-img/specialists-bg.svg");
  width: 100%;
  margin-top: 60px;
}

/*footer-slider*/
.footer-flex {
  min-width: 0;
  position: relative;
  padding: 0 70px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .footer-flex {
    padding: 0 45px;
  }
}

.footer-button-prev {
  width: 30px;
  height: 30px;
}

.footer-button-next {
  width: 30px;
  height: 30px;
}

.footer-flex .footer-button-prev::after {
  content: "";
  background: url("../img/footer-slider-arrow.svg") no-repeat;
  width: 30px;
  height: 30px;
}

.footer-flex .footer-button-next::after {
  content: "";
  background: url("../img/footer-slider-arrow.svg") no-repeat;
  width: 30px;
  height: 30px;
  transform: rotate(180deg);
}

.footer-flex .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  line-height: 20px;
  font-size: 14px;
  background-color: #2E8FD6;
}

.footer-container {
  margin-bottom: 100px;
  margin-top: 30px;
  display: flex;
  padding-bottom: 40px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .footer-container {
    justify-content: center;
  }
}
.footer-container__wrapper {
  display: flex;
  flex-direction: row;
}
.footer-container__slide {
  width: 200px;
}

.footer-slide-link {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border: 2px dashed #1845B7;
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: stretch;
  height: 245px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .footer-slide-link {
    justify-content: center;
  }
}
.footer-slide-link__img {
  width: 138px;
  height: 138px;
  margin: 0 auto;
}
.footer-slide-link__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
  width: 158px;
  margin: 0 auto;
}

/*director-index*/
.director-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 40px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .director-block {
    margin-top: 0px;
    padding-left: 10px;
  }
}
.director-block__bg {
  background-image: url("../img/bg-img/director-blog-bg.svg");
  width: 100%;
  margin-top: 60px;
}
.director-block__img {
  margin-top: -25px;
  width: 100%;
  margin-bottom: 30px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .director-block__img {
    margin-bottom: 0px;
    width: 300px;
  }
}
.director-block__text {
  width: 450px;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  margin-top: 20px;
  padding-bottom: 25px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .director-block__text {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .director-link {
    display: none;
  }
}

/*director-blog*/
.blog-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.blog-form__text {
  background: #F8F8F8;
  border: 1px dashed #CBCBCB;
  border-radius: 10px;
  width: 48%;
  height: 40px;
  padding: 10px 5px 10px 15px;
  font-size: 16px;
  line-height: 130%;
  color: #505050;
}
@media (min-width: 320px) and (max-width: 768px) {
  .blog-form__text {
    width: 100%;
  }
}
.blog-form__textarea {
  background: #F8F8F8;
  border: 1px dashed #CBCBCB;
  border-radius: 10px;
  width: 100%;
  height: 180px;
  padding: 10px 15px 10px 15px;
  font-size: 16px;
  line-height: 130%;
  color: #505050;
}
.blog-form__submit {
  border-radius: 10px;
  background: linear-gradient(270deg, #F02C59 0%, #F35075 100%);
  padding: 10px 60px;
  color: #FFFFFF;
  font-size: 16px;
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  justify-content: space-between;
}

.form-heading {
  font-size: 16px;
  line-height: 130%;
  color: #505050;
  margin-bottom: 10px;
  margin-top: -15px;
}

.blog-img {
  margin-top: -60px;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 768px) {
  .blog-img {
    margin-top: 30px;
  }
}

/*contacts*/
.contacts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacts-block {
  margin-bottom: 40px;
}
.contacts-block__subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 5px;
}
.contacts-block__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
}

.contacts-container {
  display: grid;
  grid-template-rows: repeat(4, 50px);
  grid-gap: 5px;
}

.contacts-wrapper {
  margin-bottom: 10px;
}
.contacts-wrapper__link {
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  padding-bottom: 5px;
}
.contacts-wrapper__link:hover {
  color: #2E8FD6;
  text-decoration: underline;
}
.contacts-wrapper__link:active {
  color: #F02D59;
  text-decoration: underline;
}

.routes-block {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
}
.routes-block__text {
  font-size: 16px;
  color: #000000;
  padding-bottom: 5px;
}

/*specialists*/
.specialists .specialists-block {
  margin-left: 0;
  margin-right: 0;
}
.specialists .specialists-block__position {
  margin-bottom: 30px;
}
.specialists .specialists-wrapper {
  display: grid;
  justify-content: space-between;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 50px;
}

/*specialists-card*/
.specialists-card {
  padding: 40px;
  background: #FBFBFB;
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  filter: drop-shadow(0px 14px 25px rgba(0, 0, 0, 0.1));
}
@media (min-width: 320px) and (max-width: 992px) {
  .specialists-card {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
}
.specialists-card__img {
  width: 280px;
  margin-right: 35px;
  object-fit: cover;
}
@media (min-width: 320px) and (max-width: 992px) {
  .specialists-card__img {
    width: 100%;
    margin-right: 0px;
    padding: 10px;
    object-fit: cover;
  }
}

.characteristic-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.characteristic-block {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed #D5D5D5;
  width: 100%;
  margin-bottom: 20px;
}
.characteristic-block__title {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  color: #2E8FD6;
  margin-bottom: 10px;
}
.characteristic-block__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 15px;
}
.characteristic-block__text--hidden {
  display: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 15px;
}

.load-more-btn {
  background: linear-gradient(270deg, #F02C59 0%, #F35075 100%);
  padding: 10px 20px;
  border-radius: 10px;
  display: block;
  text-align: center;
  width: 160px;
  color: #FFFFFF;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
}
.load-more-btn:hover {
  background: linear-gradient(270deg, #F02C59 0%, #F35075 100%);
  color: #FFFFFF;
}

#loadLess {
  display: none;
}

/*gov-procurement*/
.gov-link {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  background: #DEEFFF;
  border: 2px dashed #2E8FD6;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.gov-link__icon {
  fill: #2E8FD6;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.gov-link__text {
  font-weight: bold;
  font-size: 16px;
  line-height: 130%;
  color: #2E8FD6;
}

.gov-link:hover {
  border: 2px dashed #F35075;
}

.gov-link:hover, .gov-link:hover .gov-link__icon, .gov-link:hover .gov-link__text {
  background: #F9D6DE;
  color: #F35075;
  fill: #F35075;
}

/*news-block*/
.news-block {
  display: flex;
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  border-radius: 20px;
  background-color: #FFFFFF;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 768px) {
  .news-block {
    display: flex;
    flex-direction: column;
  }
}
.news-block__img {
  min-width: 380px;
  height: 100%;
  max-height: 260px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .news-block__img {
    border-radius: 10px 10px 0 0;
    height: 240px;
    min-width: auto;
  }
}

.news-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px 30px 20px 15px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .news-wrapper {
    padding: 20px;
  }
}
.news-wrapper__text {
  margin-top: 10px;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 130%;
  color: #000000;
}
@media (min-width: 320px) and (max-width: 768px) {
  .news-wrapper__text {
    margin-bottom: 20px;
  }
}
.news-wrapper__author {
  margin-top: 10px;
}
.news-wrapper__link {
  font-size: 16px;
  line-height: 130%;
}
@media (min-width: 320px) and (max-width: 768px) {
  .news-wrapper__heading {
    text-align: left !important;
  }
}

.news-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 768px) {
  .news-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
.news-buttons__date {
  font-size: 14px;
  line-height: 130%;
  color: #505050;
}
@media (min-width: 320px) and (max-width: 768px) {
  .news-buttons__date {
    margin-bottom: 15px;
  }
}

/*prices-page*/
.prices-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .prices-buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
}
.prices-buttons__link {
  font-weight: bold;
  width: auto;
  font-size: 16px;
  line-height: 130%;
  background: #DEEFFF;
  border: 2px dashed #2E8FD6;
  padding: 10px 30px;
  border-radius: 10px;
}
.prices-buttons__link:hover {
  background: #F9D6DE;
  border: 2px dashed #F35075;
  color: #F35075;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .prices-buttons__link {
    width: 100%;
    text-align: center;
  }
}

.prices-category__heading {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #2E8FD6;
  margin-top: 25px;
  margin-bottom: 5px;
  margin-left: 30px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .prices-category__heading {
    margin-left: 10px;
  }
}

/*prices-content*/
.prices-block {
  display: flex;
  flex-direction: column;
}
.prices-block__subtitle {
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 35px;
}

.prices-form {
  border: 1px solid #B6DCFF;
  border-radius: 10px 10px 0px 0px;
  padding: 15px 30px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .prices-form {
    padding: 15px 10px;
  }
}
.prices-form::placeholder {
  font-size: 16px;
  color: #505050;
}
.prices-form__search {
  padding-left: 40px;
  position: relative;
  width: 100%;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .prices-form__search {
    padding-left: 30px;
  }
}
.prices-form__icon {
  position: relative;
}
.prices-form__icon::after {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
  background: url("../img/search-icon.svg");
}

.prices-wrapper {
  box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #FFFFFF;
  height: 615px;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  scrollbar-color: #C4C4C4 #EDEAEA;
  scrollbar-width: auto;
}
.prices-wrapper::-webkit-scrollbar {
  width: 11px;
  height: 3px;
  background: #EDEAEA;
  border-radius: 10px;
}
.prices-wrapper::-webkit-scrollbar-thumb {
  background-color: #C4C4C4;
  border-radius: 10px;
}
.prices-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #b3b3b3;
}

.prices-table {
  display: grid;
  grid-template-columns: 1fr 180px 200px;
  grid-template-rows: 45px;
  border-bottom: 1px solid #B6DCFF;
  align-items: center;
  padding: 5px 30px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .prices-table {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    align-items: start;
    padding: 5px 10px;
  }
}
.prices-table--heading {
  background: #2E8FD6;
  padding: 5px 30px;
  padding-right: 48px;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .prices-table--heading {
    display: none;
  }
}
.prices-table__title {
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  line-height: 140%;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .prices-table__title {
    margin-bottom: 10px;
  }
}
.prices-table__price {
  font-size: 16px;
  font-weight: normal;
  color: #2E8FD6;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .prices-table__price {
    text-align: start;
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 10px;
  }
}
.prices-table__note {
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .prices-table__note {
    text-align: start;
    grid-column: 1;
    grid-row: 3;
    margin-bottom: 10px;
  }
}

/*services-page*/
.services-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #FFFFFF;
  box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 20px 20px;
}
.services-block__img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
@media (min-width: 320px) and (max-width: 768px) {
  .services-block__img {
    height: 160px;
    object-fit: cover;
  }
}
.services-block__text {
  font-size: 16px;
  line-height: 130%;
  color: #000000;
}
.services-block__bg {
  background-image: url("../img/bg-img/services-bg.svg");
  width: 100%;
  margin-top: 40px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .services-block__bg {
    background-image: none;
    margin-top: 0px;
  }
}

.services-wrapper {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*services-category*/
.services-category {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 14px 25px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 20px 20px;
  margin-bottom: 30px;
}
.services-category__container {
  display: flex;
  flex-direction: column;
  padding: 25px 20px;
}
.services-category__img {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 160px;
  object-fit: cover;
}
.services-category__heading {
  font-weight: bold;
  line-height: 21px;
  text-transform: uppercase;
  color: #2E8FD6;
  margin-bottom: 5px;
}
.services-category__text {
  font-size: 16px;
  line-height: 130%;
  color: #000000;
  margin-bottom: 10px;
}

.category-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.category-link__text {
  font-size: 16px;
  line-height: 130%;
  text-decoration-line: underline;
  color: #2E8FD6;
}

.category-icon {
  width: 17px;
  height: 17px;
  fill: transparent;
}
.category-icon__path {
  fill: transparent;
  stroke: #2E8FD6;
}

.category-link:hover .category-link__text, .category-link:hover .category-icon__path {
  fill: transparent;
  stroke: #F35075;
  color: #F35075;
}

* {
  font-family: "Roboto", sans-serif;
}

.open {
  display: flex;
}

.mb-40 {
  margin-bottom: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-40-mobile {
  margin-top: 40px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .mt-40-mobile {
    margin-top: 20px;
  }
}

.mt-30 {
  margin-top: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-40-mobile {
  padding-bottom: 40px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .pb-40-mobile {
    padding-bottom: 20px;
  }
}

.hide {
  display: none;
}

.standard-link {
  background: linear-gradient(270deg, #F02C59 0%, #F35075 100%);
  padding: 10px 60px;
  border-radius: 10px;
  color: #FFFFFF;
}
.standard-link:hover {
  background: linear-gradient(270deg, #F02C59 0%, #F35075 100%);
  color: #FFFFFF;
}
.standard-link:active {
  background: #F02D59;
  color: #FFFFFF;
}
@media (min-width: 320px) and (max-width: 768px) {
  .standard-link__input {
    width: 100%;
    margin-top: 10px;
  }
}

.title-h1-page {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2E8FD6;
  margin-top: 30px;
  margin-bottom: 30px;
}

.title-h1 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2E8FD6;
  margin-top: 30px;
  margin-bottom: 40px;
}
.title-h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2E8FD6;
  margin-top: 40px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .title-h2 {
    font-size: 24px;
    line-height: 29px;
  }
}

.title-h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #2E8FD6;
}

.breadcrumbs {
  margin-top: 20px;
  font-weight: normal;
  font-size: 16px;
  color: #505050;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  flex: 1 0 auto;
}
.main--margin {
  margin-bottom: 200px;
}
@media (min-width: 320px) and (max-width: 768px) {
  .main--margin {
    margin-bottom: 100px;
  }
}

.footer {
  flex: 0 0 auto;
}

/*# sourceMappingURL=main.css.map */
