/*specialists*/
.specialists{
  .specialists-block{
    margin-left: 0;
    margin-right: 0;
    &__position{
      margin-bottom: 30px;

    }
  }
.specialists-wrapper{
  display: grid;
  justify-content: space-between;
  grid-auto-flow: row;
  grid-template-columns: repeat( auto-fit, minmax(270px, 1fr) );
  gap: 50px;
}
}
/*specialists-card*/
.specialists-card{
  padding: 40px;
  background: #FBFBFB;
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  filter: drop-shadow(0px 14px 25px rgba(0, 0, 0, 0.1));
  @media(min-width: 320px) and (max-width: 992px){
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  &__img{
    width: 280px;
    margin-right: 35px;
    object-fit: cover;
    @media(min-width: 320px) and (max-width: 992px){
      width: 100%;
      margin-right: 0px;
      padding: 10px;
      object-fit: cover;

    }
  }
}
.characteristic-wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.characteristic-block{
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed #D5D5D5;
  width: 100%;
  margin-bottom: 20px;

  &__title{
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: #2E8FD6;
    margin-bottom: 10px;
  }
  &__text{
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: $black;
    margin-bottom: 15px;
  }
  &__text--hidden{
    display: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    color: $black;
    margin-bottom: 15px;
  }
}
.load-more-btn {
  background: linear-gradient(270deg, #F02C59 0%, #F35075 100%);
  padding: 10px 20px;
  border-radius: 10px;
  display: block;
  text-align: center;
  width: 160px;
  color: $white;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  &:hover {
    background: linear-gradient(270deg, #F02C59 0%, #F35075 100%);
    color: $white;
  }
}
#loadLess {
  display: none;
}
